<section class="hero-slider relative">
    <ul>
        <li class="active">
            <picture>
                <source
                    media="(min-width: 768px)"
                    srcset="/images/desktop-image-hero-1.jpg"
                />
                <img
                    src="/images/mobile-image-hero-1.jpg"
                    alt="Image Room"
                    class="flex"
                />
            </picture>
        </li>
        <li>
            <picture>
                <source
                    media="(min-width: 768px)"
                    srcset="/images/desktop-image-hero-2.jpg"
                />
                <img
                    src="/images/mobile-image-hero-2.jpg"
                    alt="Image Room"
                    class="flex"
                />
            </picture>
        </li>
        <li>
            <picture>
                <source
                    media="(min-width: 768px)"
                    srcset="/images/desktop-image-hero-3.jpg"
                />
                <img
                    src="/images/mobile-image-hero-3.jpg"
                    alt="Image Room"
                    class="flex"
                />
            </picture>
        </li>
    </ul>
    <div class="controls flex items-center">
        <button class="btn btn-control" id="slider-prev">
            <svg width="14" height="24" xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M13 0L1 12l12 12"
                    stroke="#FFF"
                    fill="none"
                    fill-rule="evenodd"></path></svg
            >
        </button>
        <button class="btn btn-control" id="slider-next">
            <svg width="14" height="24" xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M1 0l12 12L1 24"
                    stroke="#FFF"
                    fill="none"
                    fill-rule="evenodd"></path></svg
            >
        </button>
    </div>
</section>
